/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.classpath
.project
processed-entries
.lein-repl-history
profiles.clj
.nrepl-port
.settings
bin
*~
.idea/*
db/app.db
*.iml